<div class="container-fluid">

  <ng-template #loading>
    Loading
  </ng-template>

  <div *ngIf="binance.isReady$ | async; else loading">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="form-row">
                  <div class="form-group col">
                    <label for="symbolInput">Symbol</label>
                    <select class="form-control" id="symbolInput"
                            [(ngModel)]="orderFormSettings.symbol"
                            (change)="changeSymbol()">
                      <option [value]=""></option>
                      <option
                          *ngFor="let symbol of binance.symbols | withquoteasset:orderFormSettings.quoteAsset"
                          [value]="symbol">
                        {{symbol}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col">
                    <label for="quoteAssetInput">Quote Asset</label>
                    <select class="form-control" id="quoteAssetInput"
                            (change)="changeQuoteAsset()"
                            [(ngModel)]="orderFormSettings.quoteAsset">
                      <option *ngFor="let quoteAsset of binance.quoteAssets"
                              [value]="quoteAsset">
                        {{quoteAsset}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row"
                     *ngIf="orderFormSettings.symbol && binance.symbolMap[orderFormSettings.symbol]">
                  <div class="form-group col">
                    <label for="baseAmountInput">Amount
                      {{binance.symbolMap[orderFormSettings.symbol].baseAsset}}</label>
                    <input id="baseAmountInput" class="form-control"
                           type="text"
                           disabled
                           [(ngModel)]="orderForm.amount"
                           [placeholder]="binance.symbolMap[orderFormSettings.symbol].baseAsset">
                  </div>
                  <div class="form-group col">
                    <label for="quoteAmountInput">Amount
                      {{orderFormSettings.quoteAsset}}</label>
                    <input id="quoteAmountInput" class="form-control"
                           type="text"
                           disabled
                           [(ngModel)]="orderForm.quoteAmount"
                           [placeholder]="orderFormSettings.quoteAsset">
                  </div>
                  <div class="form-group col-3">
                    <label for="quoteAmountInput">Balance %</label>
                    <select class="form-control"
                            (change)="updateOrderFormAssetAmount(); saveState();"
                            [(ngModel)]="orderFormSettings.balancePercent">
                      <option [value]="pct"
                              *ngFor="let pct of balancePercents">{{pct}}%
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <label for="baseAmountInput">Buy Price</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <select class="form-control"
                                  [(ngModel)]="orderFormSettings.priceSource"
                                  (change)="onPriceSourceChange(); saveState()"
                                  [value]="orderFormSettings.priceSource">
                            <option value="LAST_PRICE">Last Price</option>
                            <option value="BEST_BID">Best Bid</option>
                            <option value="BEST_ASK">Best Ask</option>
                            <option value="MANUAL">Manual</option>
                          </select>
                        </div>
                        <input
                            *ngIf="orderFormSettings.priceSource == 'LAST_PRICE'"
                            type="number" class="form-control" disabled step="0.00000001"
                            title="Last price will be determined when order is placed."
                            [value]="ticker.last && ticker.last.toFixed(8) || null"
                        >
                        <input
                            *ngIf="orderFormSettings.priceSource == 'BEST_BID'"
                            type="number" class="form-control" disabled step="0.00000001"
                            title="Best bid price will be determined when order is placed."
                            [value]="ticker.bid.toFixed(8) || null">
                        <input
                            *ngIf="orderFormSettings.priceSource == 'BEST_ASK'"
                            type="number" class="form-control" disabled step="0.00000001"
                            title="Best ask price will be determined when order is placed."
                            [value]="ticker.ask.toFixed(8) || null">
                        <input
                            *ngIf="orderFormSettings.priceSource == 'MANUAL'"
                            type="number" class="form-control"
                            [(ngModel)]="orderForm.manualPrice" min="0"
                            (focusout)="fixManualPriceInput()"
                            [step]="priceStepSize">
                        <div *ngIf="orderFormSettings.priceSource == 'MANUAL'"
                             class="input-group-append">
                          <button type="button"
                                  (click)="syncManualPrice()"
                                  class="btn btn-sm btn-outline-secondary"><i
                              class="fa fa-sync-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Offset (in ticks of {{binance.symbolMap[orderFormSettings.symbol].tickSize |
                        number:".8-8"}})</label>
                      <div class="input-group">
                        <input *ngIf="!orderForm.offsetEnabled"
                               class="form-control"
                               disabled>
                        <input *ngIf="orderForm.offsetEnabled"
                               type="number"
                               class="form-control"
                               [(ngModel)]="orderForm.offsetTicks"
                        >
                        <div class="input-group-append">
                          <button type="button" class="btn btn-outline-secondary"
                                  (click)="orderForm.offsetTicks = orderForm.offsetTicks + 1;"
                                  [attr.disabled]="orderForm.offsetEnabled ? null : ''"
                          >+
                          </button>
                          <button type="button" class="btn btn-outline-secondary"
                                  (click)="orderForm.offsetTicks = orderForm.offsetTicks - 1;"
                                  [attr.disabled]="orderForm.offsetEnabled ? null : ''"
                          >-
                          </button>
                          <button type="button" class="btn btn-outline-secondary"
                                  (click)="orderForm.offsetTicks = 0;"
                                  [attr.disabled]="orderForm.offsetEnabled ? null : ''"
                          >0
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mt-2">
                  <div class="col-4">
                    <div class="card">
                      <div class="card-body">
                        <form *ngIf="trailingProfitForm" [formGroup]="trailingProfitForm">
                          <div class="form-row">
                            <div class="form-group col">
                              <button type="button"
                                      class="wrapper-button"
                                      (click)="trailingProfitForm.get('enabled').setValue(!trailingProfitForm.get('enabled').value)"
                              >
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox"
                                         name="trailingProfitEnabled"
                                         formControlName="enabled"
                                  >
                                  <label class="form-check-label">Trailing
                                    Profit</label>
                                </div>
                              </button>

                              <div class="input-group"
                                   style="width: 100%;">
                                <input type="number" class="form-control"
                                       step="0.1"
                                       title="Stop percent"
                                       placeholder="Percent..."
                                       name="trailingProfitPercent"
                                       formControlName="percent"
                                >
                                <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                                </div>
                              </div>
                            </div>

                            <div class="form-group col">
                              <label>Deviation</label>
                              <div class="input-group"
                                   style="width: 100%;">
                                <input type="number" class="form-control"
                                       title="Deviation"
                                       step="0.1"
                                       placeholder="Deviation..."
                                       name="trailingProfitDeviation"
                                       formControlName="deviation"
                                >
                                <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                                </div>
                              </div>
                            </div>

                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card">
                      <div class="card-body">
                        <div class="form-row">

                          <div class="form-group col">
                            <button type="button"
                                    class="wrapper-button"
                                    (click)="orderFormSettings.stopLossEnabled = !orderFormSettings.stopLossEnabled; saveState()">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox"
                                       (click)="$event.stopPropagation(); saveState();"
                                       [(ngModel)]="orderFormSettings.stopLossEnabled">
                                <label class="form-check-label">Stop Loss</label>
                              </div>
                            </button>
                            <div class="input-group">
                              <input type="number" step="0.1" class="form-control"
                                     placeholder="Percent..."
                                     (change)="saveState()"
                                     [disabled]="!orderFormSettings.stopLossEnabled"
                                     [(ngModel)]="orderFormSettings.stopLossPercent">
                              <div class="input-group-append">
                                <div class="input-group-text">%</div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="form-row">

                          <div class="form-group col">
                            <button type="button"
                                    class="wrapper-button"
                                    (click)="toggleLimitSellType('PERCENT'); saveState()">
                              <div class="form-check"
                                   title="Place limit order on buy execution.">
                                <input class="form-check-input radio" type="checkbox"
                                       (click)="toggleLimitSellType('PERCENT'); $event.stopPropagation(); saveState();"
                                       [(ngModel)]="orderFormSettings.limitSellEnabled">
                                <label class="form-check-label">Limit Sell at %</label>
                              </div>
                            </button>
                            <div class="input-group">
                              <input type="number" class="form-control"
                                     title="Percent"
                                     placeholder="Percent..."
                                     step="0.1"
                                     (change)="saveState();"
                                     [value]="orderFormSettings.limitSellPercent"
                                     [disabled]="!orderFormSettings.limitSellEnabled"
                                     [(ngModel)]="orderFormSettings.limitSellPercent">
                              <div class="input-group-append">
                                <div class="input-group-text">%</div>
                              </div>
                            </div>
                          </div>

                          <div class="form-group col">
                            <button type="button"
                                    class="wrapper-button"
                                    (click)="toggleLimitSellType('PRICE'); saveState()">
                              <div class="form-check"
                                   title="Place limit order on buy execution.">
                                <input class="form-check-input radio" type="checkbox"
                                       (click)="toggleLimitSellType('PRICE'); $event.stopPropagation(); saveState();"
                                       [(ngModel)]="orderFormSettings.limitSellPriceEnabled">
                                <label class="form-check-label">Limit Sell at Price</label>
                              </div>
                            </button>
                            <div class="input-group">
                              <input type="number" class="form-control"
                                     title="Price"
                                     placeholder="Price..."
                                     [step]="priceStepSize"
                                     (change)="orderForm.limitSellPrice = toFixed(orderForm.limitSellPrice, 8);"
                                     [value]="orderForm.limitSellPrice"
                                     [disabled]="!orderFormSettings.limitSellPriceEnabled"
                                     [(ngModel)]="orderForm.limitSellPrice">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-row mt-2">
                  <div class="col">
                    <button type="button"
                            class="form-control btn btn-primary"
                            (click)="makeOrder()">Make Order
                    </button>
                  </div>
                </div>

              </div> <!-- End row. -->

            </div> <!-- End card body. -->
          </div>
        </div>
      </div> <!-- End col. -->

      <!-- Column that shows balance and other symbol info. -->
      <div class="col-auto">
        <div class="card" style="height: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <table style="font-size: 0.95rem;">
                  <!-- Quote asset balance. -->
                  <tr>
                    <th>{{orderFormSettings.quoteAsset}} Balance</th>
                    <td *ngIf="balances[orderFormSettings.quoteAsset]">
                      {{balances[orderFormSettings.quoteAsset].free |
                      number:".8-8"}}
                    </td>
                  </tr>
                  <tr>
                    <th>BNB Balance</th>
                    <td *ngIf="balances['BNB']">
                      {{balances['BNB'].free | number:".8-8"}}
                    </td>
                  </tr>

                  <tr>
                    <th>Last</th>
                    <td>
                      {{(ticker.last | number:".8-8") || '--'}}
                    </td>
                  </tr>

                  <tr>
                    <th>Bid</th>
                    <td>{{(ticker.bid | number:".8-8") || '--' }}
                    </td>
                  </tr>
                  <tr>
                    <th>Ask</th>
                    <td>{{(ticker.ask | number:".8-8") || '--' }}
                    </td>
                  </tr>

                  <tr *ngIf="orderFormSettings.symbol">
                    <th>Min. Notional</th>
                    <td>
                      {{binance.symbolMap[orderFormSettings.symbol] &&
                      binance.symbolMap[orderFormSettings.symbol].minNotional ||
                      "--"}}
                    </td>
                  </tr>
                  <tr>
                    <th>Min. Quantity</th>
                    <td>{{binance.symbolMap[orderFormSettings.symbol] &&
                      binance.symbolMap[orderFormSettings.symbol].minQuantity ||
                      "--"}}
                    </td>
                  </tr>

                  <tr *ngIf="orderFormSettings.symbol">
                    <th>Tick Size</th>
                    <td>{{binance.symbolMap[orderFormSettings.symbol].tickSize |
                      number:".8-8"}}
                    </td>
                  </tr>
                  <tr>
                    <th>Step Size</th>
                    <td *ngIf="orderFormSettings.symbol && binance.symbolMap[orderFormSettings.symbol]; else other">
                      {{binance.symbolMap[orderFormSettings.symbol].stepSize |
                      number:".3-8"}}
                    </td>
                    <ng-template #other>
                      <td>--</td>
                    </ng-template>
                  </tr>

                  <tr>
                    <th>24h Volume</th>
                    <td>{{ticker.vol24 && (ticker.vol24 | number:".4-4") || '--'}}</td>
                  </tr>

                  <tr>
                    <th>24h Change</th>
                    <td *ngIf="ticker.percentChange24 === undefined">--</td>
                    <td *ngIf="ticker.percentChange24 !== undefined">{{ticker.percentChange24}}%</td>
                  </tr>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <app-trade-table [showTradeButtons]="true"
                       [showArchiveButtons]="true"
                       [viewTrades]="viewTrades"
      ></app-trade-table>
    </div>

  </div>

</div>

<br/>
